.container {
    margin-top: 50px;
    
  }
  
  h1 {
    font-size: 68px;
    font-weight: bold;
    text-align:center;
    
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .btn {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 30px;
  }
  
  .btn-primary {
    background-color: #44c74c;
    border-color: #44c74c;
    transition: 0.3s;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #5ba6a5;
    border-color: #5ba6a5;
  }
  
  .btn-secondary {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #555;
    transition: 0.3s;
  }
  
  .btn-secondary:hover,
  .btn-secondary:focus {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #555;
  }
  
  .card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  .form-control {
    margin-right: 10px;
    width: 85%;
    height: 45px ;
    margin-top: 19px;
  }
  .form-group{
    display: flex;
    align-items: center;
  }
  
  .card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .card-text {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .featured-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  
  @media screen and (min-width: 768px) {
    h1 {
      margin-top: 50px;
    }
  
    .card {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      max-width: 970px;
      margin: 0 auto;
    }
  
    h1 {
      margin-top: 150px;
    }
  
    .card {
      margin-bottom: 0;
    }
  
    .card-deck .card {
      margin-bottom: 0 !important;
    }
  }
  